<!doctype html>
<html ng-app="angular-s3-upload">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>iTA Video Uploader</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Styles -->
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/toastr/toastr.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- JavaScript Libs -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="components/angular/angular.js"></script>
  <script src="components/toastr/toastr.min.js"></script>
  <script src="components/aws-sdk-js/dist/aws-sdk.min.js"></script>

  <!-- Our JavaScript -->
  <script src="js/application.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</head>
<body ng-controller="UploadController">
  <div class="container-fluid">
    <div class="page-header no-top-marg">
      <div class="fr author">
        <a target="_blank" href="https://github.com/zsy2053">
          <span>Shuyang Zang</span>
          <img alt="Shuyang Zang" class="img-circle left-marg-10" height="40" src="https://avatars0.githubusercontent.com/u/15252676?s=400&u=adf68d57d0cb53d661760fcea131568e5a17dfda&v=4" width="40">
        </a>
      </div>
      <h1>iTA Video Uploader</h1>
    </div>
    <div class="row">
      <!-- The Upload Form -->
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <input class="bottom-marg-15" type="file" accept="video/mp4,video/x-m4v,video/*" name="file" file></input>
            <!-- Progress Bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
              </div>
            </div>
            <a class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</a>
          </div>
        </div>
      </div>
    </div>
    <div class="table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Upload Time</th>
            <th>File Type</th>
            <th>File Size</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in datas">
            <td>{{ x.Key.split("-")[2].split(".")[0] }}</td>
            <td>{{ x.LastModified.toString() }}</td>
            <td>{{ x.Key.split("-")[2].split(".")[1] }}</td>
            <td>{{ x.Size + " Bytes  " }}<a ng-click="delete(x.Key)"><i class="fa fa-close"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
